<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body>
    <div class="container py-5">
        <div>
            <form th:action="@{/course/}" th:object="${course}" method="POST">
                <input type="hidden" class="form-control" th:field="*{id}" th:value="${course.id}" id="id" >
                <div class="mb-3">
                    <label for="name" class="form-label">Course Name</label>
                    <input type="text" class="form-control" th:field="*{name}" th:value="${course.name}" id="name" placeholder="Course Name">
                </div>
                <div class="mb-3">
                    <label for="thumbnail" class="form-label">Thumbnail</label>
                    <input type="text" th:field="*{thumbnail}" class="form-control" th:value="${course.thumbnail}" id="thumbnail" placeholder="Thumbnail">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Course Description</label>
                    <textarea th:field="*{description}" th:value="${course.description}" class="form-control" id="description" rows="3"></textarea>
                </div>
                <div class="my-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <div class="py-3">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Blog</th>
                    <th scope="col">Courses</th>
                    <th scope="col">Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iter : ${course.blogs}">
                    <th scope="row" th:text="${iter.index}"></th>
                    <td th:text="${blog.title}">Mark</td>
                    <td>
                        <strong th:each="c : ${blog.courses}" th:text="'#'+${c.name}+' '" style="font-size: 8px;"></strong>
                    </td>
                    <td>
                        <a class="badge rounded-pill bg-danger" th:href="@{/course/remove}+'?courseId='+${course.id}+'&blogId='+${blog.id}">Remove</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="py-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Blog</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="blog,iter : ${blogs}">
                        <th scope="row" th:text="${iter.index}"></th>
                        <td th:text="${blog.title}">Mark</td>
                        <td>
                            <strong th:each="c : ${blog.courses}" th:text="'#'+${c.name}+' '" style="font-size: 8px;"></strong>
                        </td>
                        <td>
                            <a class="badge rounded-pill bg-success" th:href="@{/course/add}+'?courseId='+${course.id}+'&blogId='+${blog.id}">Add</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>