<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body class="d-flex flex-column">
<link rel="stylesheet" th:href="@{/css/blog-post.css}" />
<style>
div.custom-fixed {
  position:fixed;
  width:200px;
  height:200px;
  left:10px;
  top:50%;
}
</style>
<script>
var likeCounts = [[${likeCount}]];
var like = [[${isLiked}]];
var isLikedFirstTimeValue = [[${isLiked}]];
function userLike() {
    if (isNotAuthorized()) {
        return;
    }
    var likeBtnEle = isLikedFirstTimeValue ? document.getElementById('unlikeBtn') : document.getElementById('likeBtn');
    if (like) {
        like = false;
        likeCounts--;
        likeBtnEle.innerHTML = "<i class=\"far fa-thumbs-up fa-2x\" id=\"unlikeLogo\"></i>  <span class=\"position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger\" id=\"unlikeCountText\">"+likeCounts+" <span class=\"visually-hidden\">unread messages</span></span>";
    } else {
        like = true;
        likeCounts++;
        likeBtnEle.innerHTML = "<i class=\"fas fa-thumbs-up fa-2x\" id=\"unlikeLogo\"></i>  <span class=\"position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger\" id=\"unlikeCountText\">"+likeCounts+" <span class=\"visually-hidden\">unread messages</span></span>";
    }
}
</script>
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-5">
        <div id="contents" class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-2">
                    <div class="d-flex align-items-center mt-lg-5 mb-4">
                        <img class="img-fluid rounded-circle" loading="lazy" height="50" width="50" src="https://drive.google.com/uc?id=1AHs6MPC4bbJuad7IV1f2pNf29r5VaS8k" alt="..." />
                        <div class="ms-1">
                            <div class="fw-bold" th:text="${blog.userProfile.firstName}+' '+${blog.userProfile.lastName}">Valerie Luna</div>
                            <div class="text-muted">SDE-II, Paypal</div>
                        </div>
                    </div>
                    <div class="vstack gap-1 pt-5 ps-1 custom-fixed">
                        <div id="unlikeDiv" th:if="${isLiked}" sec:authorize="isAuthenticated()">
                            <a class="btn btn-dark position-relative" id="unlikeBtn" th:onclick="|asyncGetRequest('/blog/like/${blog.id}');userLike();|">
                                <i class="fas fa-thumbs-up fa-2x"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="unlikeCountText"  th:text="${likeCount}">
                           <span class="visually-hidden">unread messages</span>
                           </span>
                            </a>
                        </div>
                        <div id="likeDiv" th:if="!${isLiked}" sec:authorize="isAuthenticated()">
                            <a class="btn btn-dark position-relative" id="likeBtn" th:onclick="|asyncGetRequest('/blog/like/${blog.id}');userLike();|">
                                <i class="far fa-thumbs-up fa-2x"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="likeCountText"  th:text="${likeCount}">
                           <span class="visually-hidden">unread messages</span>
                           </span>
                            </a>
                        </div>
                        <div sec:authorize="!isAuthenticated()" class="my-3">
                            <a class="btn btn-dark position-relative" th:href="@{/blog/}+${blog.id}+@{/login}">
                                <i class="far fa-thumbs-up fa-2x"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                           <span class="visually-hidden">unread messages</span>
                           </span>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-dark position-relative" target="commentFrame" data-bs-toggle="offcanvas" href="#comment-offcanvas" role="button" aria-controls="comment-offcanvas">
                                <i class="fas fa-comments fa-2x"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" sec:authorize="!isAuthenticated()">
                           <span class="visually-hidden">unread messages</span>
                           </span>
                            </a>
                        </div>
                    </div>
                </div>
                <section class="col-lg-10">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <!-- <span class="badge bg-secondary" th:if="${#dates.day(#dates.createNow())} - ${#dates.day(new java.util.Date(blog.post_time))}<30">New</span> -->
                            <h1 class="fw-bolder mb-1" th:text="${blog.title}"></h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2" th:text="${#dates.format(new java.util.Date(blog.post_time),'dd-MMM-yyyy')}">January 1, 2021</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                        <!-- Preview image figure-->
                        <!-- Post content-->
                        <div>
                            <section class="mb-5" id="execute">
                                [(${blog.body})]
                            </section>
                        </div>
                    </article>
                    <div>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="comment-offcanvas" aria-labelledby="comment-offcanvasLabel" data-bs-scroll="true" data-bs-backdrop="true" data-bs-keyboard="true">
                            <!--    <div class="offcanvas-header">
                               <small class="offcanvas-title" id="comment-offcanvasLabel">Discuss Here!</small>
                               <a href="/login" class="stretched-link" sec:authorize="!isAuthenticated()"> Login </a>
                               <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                               </div> -->
                            <div class="offcanvas-body" style="overflow-y: visible;">
                                <!-- Comments section-->
                                <iframe width="100%" height="100%"  th:src="@{/comment}+'?blogId='+${blog.id}+'&offset=0'" name="commentFrame" style="overflow-y: visible;"></iframe>
                            </div>
                        </div>
                        <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#comment-offcanvas" role="button" aria-controls="comment-offcanvas"><i class="fas fa-comments"></i> Discuss Here</a>
                        <span sec:authorize="!isAuthenticated()" id="isNotAuthorized">
                           <!-- Button trigger modal -->
                           <a href="/login"
                              sec:authorize="!isAuthenticated()" class="btn btn-dark my-2 mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Login to comment">
                           Login
                           </a>
                           <strong>to discuss in the comments.</strong>
                        </span>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>