<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/scroll-bar.css}" rel="stylesheet" />
</head>
<body>
<div>
    <section id="cmt" name="cmt">
      <div>
              <div class="fixed-top" sec:authorize="isAuthenticated()">
                  <form class="" th:action="@{/comment}" th:object="${comment}" method="POST">
                      <input type="hidden" th:field="*{parentId}" th:value="${comment.id}"/>
                      <input type="hidden" th:field="*{blogId}" th:value="${blogId}"/>
                      <input type="hidden" th:field="*{id}" th:value="${id}"/>
                      <textarea class="form-control" rows="5" th:field="*{comments}" placeholder="Join the discussion and leave a comment!"></textarea>
                      <div class="d-grid gap-2">
                          <button type="submit" class="btn btn-dark btn-sm">
                              <i class="fas fa-comment-alt"></i> Comment
                          </button>
                      </div>
                  </form>
              </div>
          <div sec:authorize="isAuthenticated()">
              <form class="" th:action="@{/comment}" th:object="${comment}" method="POST">
                  <input type="hidden" th:field="*{parentId}" th:value="${comment.id}"/>
                  <input type="hidden" th:field="*{blogId}" th:value="${blogId}"/>
                  <input type="hidden" th:field="*{id}" th:value="${id}"/>
                  <textarea class="form-control" rows="5" th:field="*{comments}" placeholder="Join the discussion and leave a comment!"></textarea>
                  <div class="d-grid gap-2">
                      <button type="submit" class="btn btn-dark btn-sm">
                          <i class="fas fa-comment-alt"></i> Comment
                      </button>
                  </div>
              </form>
          </div>
          <div th:if="!${isReply}" class="container">
              <a class="btn btn-light btn-sm" th:href="@{/comment}+'?blogId='+${blogId}+'&offset='+${offset-10}"><i class="fas fa-arrow-circle-left"></i> Previous</a>
              <a class="btn btn-light btn-sm" style="float: right;" th:href="@{/comment}+'?blogId='+${blogId}+'&offset='+${offset+10}">Next <i class="fas fa-arrow-circle-right"></i></a>
          </div>
                <!-- Comment with nested comments-->
                <div th:each="c : ${comments}" class="vstack gap-3 mt-2 mb-2">
                    <div th:if="${isReply}" class="container">
                        <a class="btn btn-light btn-sm" th:href="@{/comment/replies}+'?blogId='+${blogId}+'&commentId='+${c.id}+'&offset='+${offset-10}">
                            <i class="fas fa-arrow-circle-left"></i> Previous
                        </a>
                        <a class="btn btn-light btn-sm" style="float: right;" th:href="@{/comment/replies}+'?blogId='+${blogId}+'&commentId='+${c.id}+'&offset='+${offset+10}">Next
                            <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <div>
                        <button class="btn btn-light btn-sm position-relative" disabled>
                            <span class="fw-bold" style="font-size: 14px;" th:text="${c.userProfile.firstName}"></span>
                            <span th:if="${userId}==${c.userProfileId}" class="position-absolute top-50 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                <span class="visually-hidden"></span>
                            </span>
                        </button>
                        <!-- Replying to parent comment -->
                        <p th:if="!${isReply}" th:text="${c.comments}" style="font-size: 14px;"></p>
                        <div class="fst-italic" th:if="${isReply}" th:text="${c.comments}"></div>
                        <div class="hstack gap-3 px-5">
                             <a class="btn btn-light btn-sm" th:if="${isReply}" th:href="@{/comment}+'?blogId='+${blogId}+'&offset='+${offset}"><i class="fas fa-arrow-circle-left"></i> Back</a>
                            <a class="btn btn-light btn-sm" th:if="!${isReply}" th:href="@{/comment/replies}+'?blogId='+${blogId}+'&commentId='+${c.id}+'&offset='+${offset}"><i class="fas fa-reply"></i> Reply</a>
                            <a class="btn btn-light btn-sm" sec:authorize="isAuthenticated()" th:if="${userId}==${c.userProfileId}" th:href="@{/comment/edit}+'?blogId='+${blogId}+'&commentId='+${c.id}+'&offset='+${offset}"><i class="fas fa-pen-square"></i> Edit</a>
                            <a class="btn btn-light btn-sm" sec:authorize="isAuthenticated()" th:if="${userId}==${c.userProfileId}" th:href="@{/comment/delete/}+${blogId}+'/'+${c.id}+'?offset='+${offset}"><i class="fas fa-trash"></i> Delete</a>
                        </div>
                        <!-- Child comment -->
                        <div th:each="reply : ${replies}">
                            <div class="text-end px-3">
                                <button class="btn btn-light btn-sm position-relative" disabled>
                                    <span class="fw-bold" style="font-size: 14px;" th:if="${isReply}" th:text="${reply.userProfile.firstName}"></span>
                                    <span th:if="${userId}==${reply.userProfileId}" class="position-absolute top-50 start-100 translate-middle p-1 bg-success border border-light rounded-circle">
                                        <span class="visually-hidden"></span>
                                    </span>
                                </button>
                                <p th:text="${reply.comments}"></p>
                                <a class="btn btn-light btn-sm" sec:authorize="isAuthenticated()" th:if="${userId}==${reply.userProfileId}" th:href="@{/comment/edit}+'?blogId='+${blogId}+'&commentId='+${reply.id}+'&offset='+${offset}">
                                  <i class="fas fa-pen-square"></i> Edit</a>
                                <a class="btn btn-light bth-sm" sec:authorize="isAuthenticated()" th:if="${userId}==${reply.userProfileId}" th:href="@{/comment/delete/}+${blogId}+'/'+${reply.id}+'?offset='+${offset}">
                                  <i class="fas fa-trash"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
</div>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
<script src="https://kit.fontawesome.com/075f865118.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>