<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body class="d-flex flex-column py-5" onload="loadLike();">
<style>
/* Style for dropdown button */
.dropbtn {
  background-color: #171717;
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/* Style for dropdown content */
.dropdown-content {
  border-radius: 3px;
  display: none; /* Hidden by default */
  position: absolute;
  background-color: #ffffff;
  min-width: 85px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for each content div */
.dropdown-content div {
  padding: 10px 5px;
}

/* Highlight dropdown options on hover */
.dropdown-content div:hover {
  background-color: #eaeaea;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Highlight dropdown button when dropdown menu is open */
.dropdown:hover .dropbtn {
  background-color: #474885;
}

div.custom-fixed {
  position:fixed;
  width:200px;
  height:200px;
  left:10px;
  top:25%;
}
</style>
<script>
var likeCounts = [[${likeCount}]];
var like = [[${isLiked}]];
function loadLike() {
    if (isNotAuthorized()) {
        return;
    }
    if (like) {
        toggleVisibility('likeDiv', 'unlikeDiv');
    } else {
        toggleVisibility('unlikeDiv', 'likeDiv');
    }
}
function userLike() {
    if (isNotAuthorized()) {
        return;
    }
    if (like) {
        hide('unlikeDiv');
        show('likeDiv');
        like = false;
        likeCounts--;
        document.getElementById('likeCountText').innerHTML = likeCounts;
    } else {
        hide('likeDiv');
        show('unlikeDiv');
        like = true;
        likeCounts++;
        document.getElementById('unlikeCountText').innerHTML = likeCounts;
    }
}
</script>
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section class="py-2">
        <div class="container px-2 my-2">
            <div class="row gx-5">
                <div class="col-lg-2">
                    <div class="d-flex align-items-center mt-lg-5 mb-4">
                        <img class="img-fluid rounded-circle" loading="lazy" height="50" width="50" src="https://drive.google.com/uc?id=1AHs6MPC4bbJuad7IV1f2pNf29r5VaS8k" alt="..." />
                        <div class="ms-3">
                            <div class="fw-bold" th:text="${blog.userProfile.firstName}+' '+${blog.userProfile.lastName}">Valerie Luna</div>
                            <div class="text-muted">SDE-II, Paypal</div>
                        </div>
                    </div>
                    <div class="vstack gap-3 pt-5 ps-1 custom-fixed">
                        <span class="dropdown">
                          <button class="dropbtn"> <i class="fas fa-book-open"></i> Chapters</button>
                          <div class="dropdown-content">
                                <div th:each="b,itr : ${blogs}"><a class="text-decoration-none" style="color: black;" th:href="@{/course/chapter?courseId=}+${course.id}+'&chapterId='+${b.id}" th:text="${itr.index+1}+'. '+${b.title}"></a></div>
                          </div>
                        </span>
                        <div id="unlikeDiv" sec:authorize="isAuthenticated()">
                            <a class="btn btn-dark position-relative" id="unlikeBtn" th:onclick="|asyncGetRequest('/blog/like/${blog.id}');userLike();|">
                                <i class="fas fa-thumbs-up fa-1x"></i> Liked it!
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="unlikeCountText"  th:text="${likeCount}">
                           <span class="visually-hidden">unread messages</span>
                           </span>
                            </a>
                        </div>
                        <div id="likeDiv" sec:authorize="isAuthenticated()">
                            <a class="btn btn-dark position-relative" id="likeBtn" th:onclick="|asyncGetRequest('/blog/like/${blog.id}');userLike();|">
                                <i class="far fa-thumbs-up fa-1x"></i> Hit Like
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="likeCountText"  th:text="${likeCount}">
                           <span class="visually-hidden">unread messages</span>
                           </span>
                            </a>
                        </div>
                        <div sec:authorize="!isAuthenticated()" class="my-3">
                            <a class="btn btn-dark position-relative" href="#login">
                                <i class="far fa-thumbs-up fa-1x"></i> Hit Like
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> Login Required
                           <span class="visually-hidden">unread messages</span>
                           </span>
                            </a>
                        </div>
                        <div>
                            <a class="btn btn-dark position-relative" target="commentFrame" data-bs-toggle="offcanvas" href="#comment-offcanvas" role="button" aria-controls="comment-offcanvas">
                                <i class="fas fa-comments fa-1x"></i> Comment
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" sec:authorize="!isAuthenticated()"> Login Required
                           <span class="visually-hidden">unread messages</span>
                           </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 mt-5">
                    <!-- Post content-->
                    <article>
                        <!--
                        <div class="jumbotron">
                            <h1 class="display-1" th:text="${course.name}"></h1>
                            <hr class="my-4">
                            <p class="lead" th:text="${blog.description}"></p>
                        </div> -->
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1" th:text="${blog.title}"></h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2" th:text="${#dates.format(new java.util.Date(blog.post_time),'dd-MMM-yyyy')}">January 1, 2021</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                        <section class="mb-5">
                            [(${blog.body})]
                        </section>
                    </article>
                    <div>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="comment-offcanvas" aria-labelledby="comment-offcanvasLabel">
                            <!--    <div class="offcanvas-header">
                               <small class="offcanvas-title" id="comment-offcanvasLabel">Discuss Here!</small>
                               <a href="/login" class="stretched-link" sec:authorize="!isAuthenticated()"> Login </a>
                               <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                               </div> -->
                            <div class="offcanvas-body" style="overflow-y: visible;">
                                <!-- Comments section-->
                                <iframe width="100%" height="100%"  th:src="@{/comment}+'?blogId='+${blog.id}+'&offset=0'" name="commentFrame" style="overflow-y: visible;"></iframe>
                            </div>
                        </div>
                        <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#comment-offcanvas" role="button" aria-controls="comment-offcanvas"><i class="fas fa-comments"></i> Discuss Here</a>
                        <span sec:authorize="!isAuthenticated()" id="isNotAuthorized">
                           <!-- Button trigger modal -->
                           <a href="/login" id="login" sec:authorize="!isAuthenticated()" class="btn btn-dark my-2 mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Login to comment">
                           Login
                           </a>
                           <strong>to discuss in the comments.</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>