<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
    <body class="d-flex flex-column" onload="init()">
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <section class="py-2">
                <div class="container px-2 my-2">

                    <div class="row gx-5">
                        <div class="col-lg-3">
                            <div class="d-flex align-items-center mt-lg-5 mb-4">
                                <img class="img-fluid rounded-circle" height="50" width="50" src="https://drive.google.com/uc?id=1AHs6MPC4bbJuad7IV1f2pNf29r5VaS8k" alt="..." />
                                <div class="ms-3">
                                    <div class="fw-bold" th:text="${blog.userProfile.firstName}+' '+${blog.userProfile.lastName}">Valerie Luna</div>
                                    <div class="text-muted">SDE-II, Paypal</div>
                                </div>
                            </div>
                            <a href="#" class="d-flex align-items-start flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                                <strong class="fs-5 mt-5" th:text="${course.name}"></strong>
                            </a>
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <a th:href="@{/course/chapter?courseId=}+${course.id}+'&chapterId='+${b.id}" th:each="b : ${blogs}"
                                   th:class="'rounded list-group-item list-group-item-action py-3 lh-tight '+${b.id==blog.id ? 'active' : ''}" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span class="fs-5 fw-semibold" th:text="${b.title}"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 mt-5">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1" th:text="${blog.title}"></h1>
                                    <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2" th:text="${#dates.format(new java.util.Date(blog.post_time),'dd-MMM-yyyy')}">January 1, 2021</div>
                                    <!-- Post categories-->
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                                </header>
                                <section class="mb-5">
                                    [(${blog.body})]
                                </section>
                            </article>
                            <div>
                                <div class="offcanvas offcanvas-end rounded" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                                    <div class="offcanvas-header">
                                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Comments</h5>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <!-- Comments section-->
                                        <div>
                                            <iframe th:src="@{/comment}+'?blogId='+${blog.id}+'&offset=0'" style="width:100%;" onload="this.height=this.contentWindow.document.body.scrollHeight;"></iframe>
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-dark" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="fas fa-comments"></i> Discuss Here</a>
                                <span sec:authorize="!isAuthenticated()">
                            <!-- Button trigger modal -->
                            <a href="/login" sec:authorize="!isAuthenticated()" class="btn btn-dark my-2 mx-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Login to comment">
                                Login
                            </a>
                            <strong>to discuss in the comments.</strong>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
