<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <section class="py-2">
                <div class="container px-2 my-2">

                    <div class="row gx-5">
                        <div class="col-lg-3">
                            <div class="d-flex align-items-center mt-lg-5 mb-4">
                                <img class="img-fluid rounded-circle" height="50" width="50" src="https://drive.google.com/uc?id=1AHs6MPC4bbJuad7IV1f2pNf29r5VaS8k" alt="..." />
                                <div class="ms-3">
                                    <div class="fw-bold" th:text="${blog.userProfile.firstName}+' '+${blog.userProfile.lastName}">Valerie Luna</div>
                                    <div class="text-muted">SDE-II, Paypal</div>
                                </div>
                            </div>
                            <a href="#" class="d-flex align-items-start flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                                <strong class="fs-5 mt-5" th:text="${course.name}"></strong>
                            </a>
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                <a th:href="@{/course/chapter?courseId=}+${course.id}+'&chapterId='+${b.id}" th:each="b : ${blogs}"
                                   th:class="'rounded list-group-item list-group-item-action py-3 lh-tight '+${b.id==blog.id ? 'active' : ''}" aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span class="fs-5 fw-semibold" th:text="${b.title}"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 mt-5">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-1" th:text="${blog.title}"></h1>
                                    <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2" th:text="${#dates.format(new java.util.Date(blog.post_time),'dd-MMM-yyyy')}">January 1, 2021</div>
                                    <!-- Post categories-->
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                                </header>
                                <section class="mb-5">
                                    [(${blog.body})]
                                </section>
                            </article>
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Login to discuss</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/authenticate}" method="POST">
                                                <div class="mb-3">
                                                    <label for="email" class="form-label">Email address</label>
                                                    <input id="email" type="email" name="username" class="form-control" placeholder="username@gmail.com" aria-label="Email">
                                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="password" class="form-label">Password</label>
                                                    <input id="password" type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
                                                </div>
                                                <button type="submit" class="btn btn-dark">Login</button>
                                                <a href="/signup" class="btn btn-dark">Sign up</a>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            Close this box once logged in.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div sec:authorize="!isAuthenticated()">
                                <!-- Button trigger modal -->
                                <button sec:authorize="!isAuthenticated()" type="button" class="badge bg-dark my-2 mx-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Login
                                </button>
                                to discuss in the comments.
                            </div>
                            <!-- Comments section-->
                            <div class="ratio ratio-21x9">
                                <iframe th:src="@{/comment}+'?blogId='+${blog.id}" height="1200px;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>
