<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="jumbotron">
            <h1 class="display-4">Oops! Unexpected Error :-(</h1>
            <p class="lead">Our engineers are working hard, you can help us by reporting this here:</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-outline-dark btn-lg" href="/contact" role="button">Report here</a>
            </p>
        </div>
    </div>
</body>
</html>