<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body th:background="@{/images/login-bg.jpg}" style="background-size: cover; background-repeat: no-repeat; background-position: center center;">
<script th:src="@{/js/signup.js}"></script>
<div class="container py-5">
    <div class="btn-group py-5" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-lg btn-dark" href="/signup">Sign up</a>
        <a type="button" class="btn btn-lg btn-light" href="/login">Login</a>
    </div>
    <div class="shadow p-3 mb-5 bg-body rounded mt-4 col-8 mx-auto" id="signupForm">
        <form class="row g-3 mx-2 my-2" id="signup" th:object="${user}" th:action="@{/signup}" method="POST">
            <div class="col-md-12">
                <h1 align="center">Sign up</h1>
            </div>
            <div class="col-md-12">
                <div class="text-center fw-bold" id="myOtpTimer" style="font-size: inherit;"></div>
                <div th:if="${msg != null && msg != ''}">
                    <div class="alert alert-danger col-xs-offset-1 col-xs-10 d-flex flex-nowrap" th:text="${msg}"
                         align="center"></div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" th:field="*{firstName}" class="form-control" th:value="${user.firstName}"
                       id="firstName">
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" th:field="*{lastName}" class="form-control" th:value="${user.lastName}"
                       id="lastName">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" th:field="*{email}" class="form-control" th:value="${user.email}" id="email">
            </div>
            <div class="col-md-6">
                <label for="otp" class="form-label">Verify Email
                    <a id="sendOtp" class="badge rounded-pill bg-dark text-decoration-none" onclick="sendOtp('email','myOtpTimer','sendOtp');"> Send OTP</a>
                </label>
                <input type="text" th:field="*{otp}" class="form-control" th:value="${user.otp}" id="otp" placeholder="Enter OTP">
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="text" th:field="*{password}" class="form-control" th:value="${user.password}"
                       id="password">
            </div>
            <div class="col-md-6">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" th:field="*{confirmPassword}" th:value="${user.confirmPassword}"
                       class="form-control" id="confirmPassword">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-dark">Sign in</button>
            </div>
        </form>
    </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
</html>