<!--
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">ScaleToScale</a>
        </div>
        <p style="font-size:1.1em">Hi,</p>
        <p>Thank you for choosing S2S. Use the following OTP to complete your Sign Up procedures. OTP is valid for 5 minutes</p>
        <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{otp}}</h2>
        <p style="font-size:0.9em;">Regards,<br />ScaleToScale</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>ScaleToScale</p>
            <p>www.scaletoscale.com</p>
        </div>
    </div>
</div> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="container col-6 mx-auto">
    <script src="https://gist.github.com/gaurav-kr-pandey/c7b17d25fbb189098080664706438010.js"></script>
</div>
</body>
</html>