	<footer class="sticky-bottom bg-dark py-4 mt-auto" xmlns:th="http://www.w3.org/1999/xhtml" onload="init()">
		<div class="container px-5">
			<div class="row align-items-center justify-content-between flex-column flex-sm-row">
				<div class="col-auto"><div class="small m-0 text-white">Copyright &copy; www.scaletoscale.com 2021</div></div>
				<div class="col-auto">
					<a class="link-light small" href="/about">About</a>
					<span class="text-white mx-1">&middot;</span>
					<a class="link-light small" href="/faq">FAQ</a>
					<span class="text-white mx-1">&middot;</span>
					<a class="link-light small" href="/contact">Contact</a>
				</div>
			</div>
		</div>
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link th:href="@{/css/style.css}" rel="stylesheet" />
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/script.js}"></script>
		<script th:src="@{/js/async.js}"></script>
		<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</footer>
