<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scale To Scale</title>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/headers.css}" rel="stylesheet">
  </head>
  <body>
<main>
  <header class="p-3 bg-dark text-white fixed-top mb-5">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start text-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="ScaleToScale"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 text-white" href="/"><i class="fas fa-home"></i> Home</a></li>
          <li><a class="nav-link px-2 text-white" href="/blog-home"><i class="fas fa-blog"></i> Blogs</a></li>
          <li><a class="nav-link px-2 text-white" href="/#courses"><i class="fas fa-book"></i> Courses</a></li>
          <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="nav-link px-2 text-white dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-users-cog"></i> Admin</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
              <!-- <li><a class="dropdown-item" href="/portfolio">Portfolio Overview</a></li>
              <li><a class="dropdown-item" href="/portfolio-item">Portfolio Item</a></li>
              -->
              <li><a class="dropdown-item" href="/course/create">Create Course</a></li>
              <li><a class="dropdown-item" href="/write-blog">Write Blog</a></li>
            </ul>
          </li>
        </ul>
        <div class="text-end" sec:authorize="!isAuthenticated()">
          <a href="/login" type="button" class="mt-2 btn btn-dark me-2 btn-sm fw-bold" id="login"><i class="fas fa-sign-in-alt"></i> Login</a>
          <a href="/signup" type="button" class="mt-2 btn btn-dark me-2 btn-sm fw-bold"><i class="fas fa-user-plus"></i> Sign-up</a>
        </div>
        <div class="text-end dropcenter" sec:authorize="isAuthenticated()">
          <a class="btn btn-large btn-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle fa-2x"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a href="/update/user" type="button" class="dropdown-item text-center"><i class="fas fa-user-edit"></i> Profile</a></li>
            <li><a href="javascript: document.logoutForm.submit()" role="menuitem" type="button" class="dropdown-item text-center" sec:authorize="isAuthenticated()"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
          </ul>
          <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true" sec:authorize="isAuthenticated()">
            <input hidden type="submit" value="Logout"/>
          </form>
        </div>
      </div>
    </div>
  </header>
</main>
  </body>
</html>
